/* 
 * Made by: Daniela Salazar 
 */

.bill-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #1a1a1a;
    border-radius: 4px;
}

.bill-item-row-solo-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #1a1a1a;
    border-radius: 4px;
}

.bill-input-number {
    width: 60px;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #444;
}

.bill-create-no-items {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    min-height: 50px;
}

.bill-txt-no-items {
    color: #999;
    margin: 0;
}
